<div class="container">
    <h1>My Duties</h1>

    <% @reservations.each do |reservation| %>
        <div>
            <%= reservation.duty.duty_name %>
        </div>
        <div>
            <%= reservation.duty.venue %>
        </div>
        <div>
            <%= reservation.duty.start_date_time %>
        </div>
        <div>
            <%= reservation.duty.end_date_time %>
        </div>
    <% end %>

</div>